ul {background-color: red;
	color : blue;
}
ol {background-color: black;
	color : white;
}
p {background-color: green;
	color : orange;
}


h1{ color:orange;}

body{
	background-color: #F0FFF0;
}

